.gradle/
**/.gradle/
.idea/
*.iml
build/
**/build/
run/
**/run/
run-data/
**/run-data/
gradle.properties/
**/gradle.properties/
common/build/
common/logs/
fabric/build/
forge/build/
bin/
common/src/generated/resources/.cache/
